---
import Base from "../layouts/Base.astro";
---

<Base>
  <div class="container mx-auto p-4">
    <h2 class="text-4xl font-bold">Acerda de Ladrillos</h2>
    <p class="text-gray-700">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, minus rerum
      explicabo officia cupiditate aspernatur maiores ad alias tenetur et vitae
      eos molestiae, eum sint dolorem tempore obcaecati repudiandae aliquam?
    </p>
  </div>
</Base>
