npx expo install expo-linear-gradient
npm install @animatereactnative/marquee
npx expo install react-native-gesture-handler
npm install nativewind tailwindcss react-native-reanimated react-native-safe-area-context 
npx expo install react-native-reanimated
npm i moti --legacy-peer-deps
yarn add @react-native-seoul/masonry-list
yarn add @gorhom/bottom-sheet@^5