:root {
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

aside {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside .toggle {
    width: 100%;
    height: 10%;
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgb(94, 23, 223) 0%, rgb(29, 117, 250) 100%);
    border-radius: 20px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 2px;
}

aside .toggle .logo {
    display: flex;
    cursor: pointer;
}

aside .toggle .logo img {
    width: 10rem;
    height: 3rem;
}

aside .toggle .close {
    padding-right: 1rem;
    display: none;
}

aside .sidebar {
    z-index: 5;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
    border-radius: 15px;
    height: 70%;
    position: relative;
    transition: all 0.3s ease;
    justify-content: space-around;
    width: 100%;

}

aside .sidebar:hover {
    box-shadow: none;
}

aside .sidebar a {
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 50px;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
    text-decoration: none;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

aside .sidebar a.active {
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}

aside .sidebar a.active::before {
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 0.6rem;
}

aside .sidebar .message-count {
    background-color: var(--color-danger);
    padding: 2px 6px;
    color: var(--color-white);
    font-size: 11px;
    border-radius: var(--border-radius-1);
}


/*Circles*/
.analyse {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    align-items: center;
    height: 20%;
}

.analyse>div {
    height: 100px;
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    margin-left: 14px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.analyse>div:hover {
    box-shadow: none;
}

.analyse>div .status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.analyse h3 {
    margin-left: 0.6rem;
    font-size: 1rem;
}

.analyse .progresss {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

.analyse svg {
    width: 7rem;
    height: 7rem;
}

.analyse svg circle {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

.analyse .sales svg circle {
    stroke: var(--color-success);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

.analyse .visits svg circle {
    stroke: var(--color-danger);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

.analyse .searches svg circle {
    stroke: var(--color-primary);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

.analyse .progresss .percentage {
    position: absolute;
    top: -3px;
    left: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/*Section Charts*/
.sectionCharts {
    display: grid;
    grid-template-columns: 30% 66%;
    grid-template-rows: 100%;
    height: 35%;
    gap: 1.6rem;
}

.containerCharts {
    width: 100%;
    height: 100%;
    position: relative;
}

.controls {
    margin-top: 30px;
    text-align: center;
}


.btn {
    padding: 8px 15px;
    border: none;
    background-color: #303f9f;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

#canvas-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas-containerTwo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 6px;
}